/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color:rgba(255, 241, 247, 1);
  --bg-img: url('../images/cover-image-light.png');
  --color-big-text: rgba(255, 194, 230, 1);
  --color-accent: rgba(255, 141, 203, 1);
  --color-text: rgba(53, 52, 48, 1);
  --color-triangle: rgba(53, 52, 48, 1); 
  --color-theme-button: rgba(53, 52, 48, 1);
  --shadow-text: 4px 4px 0 var(--color-accent);
  --color-title-text: rgba(53, 52, 48, 1);

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }
  
  .header__decorative-dark {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color:rgba(255, 241, 247, 1);
  --bg-img: url('../images/cover-image-light.png');
  --color-big-text: rgba(255, 194, 230, 1);
  --color-accent: rgba(255, 141, 203, 1);
  --color-text: rgba(53, 52, 48, 1);
  --color-triangle: rgba(53, 52, 48, 1); 
  --color-theme-button: rgba(53, 52, 48, 1);
  --shadow-text: 4px 4px 0 var(--color-accent);
  --color-title-text: rgba(53, 52, 48, 1);
  
  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }

  .header__decorative-dark {
    display: none;
  }
}  
}