/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color, rgba(0, 0, 40, 1));
  background-image: var(--bg-img, url('../images/cover-image.png'));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: var(--main-font, 'IBM Plex mono'),  sans-serif;
  font-size: var(--text-size, 1.125rem);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  justify-self: center;
  align-self: center;
  padding: var(--padding, 0.625rem);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color, rgba(255, 0, 112, 1));
  pointer-events: none;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  inset-block-end: var(--padding, 0.625rem);
  inset-inline-start: var(--padding, 0.625rem);
  border-top: none;
  border-right: none;
}

.title-decor {
  font-weight: var(--text-bold, 700);
  color: var(--bg-color, rgba(0, 0, 40, 1));
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
}

.header__decorative-dark {
  position: relative;
  align-items: center;
  line-height: 25px;
  color: var(--accent-color, rgba(255, 0, 112, 1));
  justify-self: right;
  text-transform: uppercase;
}

.header__decorative-dark::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 9px;
  background-color: rgba(255, 0, 112, 1);
  box-shadow: 0px 0px 4px 2px var(--accent-color, rgba(255, 0, 112, 1));
}

.header__theme-menu-button {
  color: var(--accent-color, rgba(255, 0, 112, 1));
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  justify-self: center;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__theme-menu {
  justify-self: right;
}

.title {
  font-size: var(--big_text-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-weight: var(--text-bold, 700);
  line-height: 83%;
  text-transform: lowercase;
  color: var(--big__text-color, rgba(219, 0, 255, 1));
  text-shadow: var(--shadow-text, 4px 4px 0 var(--accent-color));
}

@media (min-width: 768px) {
  :root {
    --big_text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.content {
  font-size: var(--text-size, 1.125rem);
  padding: var(--padding);
  margin-block-start: 2.5rem;
  writing-mode: horizontal-tb;
}

.content__section:not(:last-of-type) {
  margin-block-end: 50px;
}

.content__section-title {
  font-size: var(--text-size, 1.125rem);
  color: var(--accent-color);
  margin-block-end: 20px;
}

.content__section-description {
  color: var(--color__text-description);
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__link:hover {
  border-bottom: 1px solid var(--color__text-description) ;
}

.content__link:focus {
  border: 1px solid var(--color__text-description);
}

.content__section-list-item:not(:last-of-type) {
  margin-block-end: 20px;
}

.content__section-list-item-title {
  font-size: var(--text-size, 1.125rem);
  line-height: 23.4px;
  margin-block-end: 10px;
}

.text-no-bold {
  font-weight: var(--text-weight);
}

.content__section-img {
  display: grid;
  gap: var(--gap-img);
}

.content__images-title {
  font-size: var(--text-size);
}

.content__images-wrapper {
  display: grid;
  gap: var(--gap-img);
}

.content__images-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
  align-items: center;
  text-align: center;
  position: relative;
  padding: var(--padding);
}