/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color, rgba(0, 0, 40, 1));
  background-image: var(--bg-img, url('../images/cover-image-dark.png'));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: var(--main-font, 'IBM Plex mono'),  sans-serif;
  font-size: var(--text-size, 1.125rem);
  line-height: 23.4px;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  align-self: center;
  padding: var(--padding-all-pages, 0.625rem);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--color-triangle, rgba(255, 0, 112, 1));
  pointer-events: none;
}

.decorated-zone::before {
  inset-block-start: var(--decorate-triangle-indent, 0.625rem);
  inset-inline-end: var(--decorate-triangle-indent, 0.625rem);
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  inset-block-end: var(--decorate-triangle-indent, 0.625rem);
  inset-inline-start: var(--decorate-triangle-indent, 0.625rem);
  border-top: none;
  border-right: none;
}

.title-decor {
  font-weight: bold;
  color: var(--color-title-text, rgba(0, 0, 40, 1));
  background-color: var(--color-accent, rgba(255, 0, 112, 1));
}

.header__decorative-dark {
  position: absolute;
  align-items: center;
  line-height: 25px;
  color: var(--color-accent, rgba(255, 0, 112, 1));
  justify-self: right;
  text-transform: uppercase;
  padding: var(--padding-all-pages);
}

.header__decorative-dark::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 9px;
  background-color: var(--color-accent, rgba(255, 0, 112, 1));
  box-shadow: 0px 0px 4px 2px var(--color-accent, rgba(255, 0, 112, 1));
}

.header__theme-menu-button {
  color: var(--color-theme-button, rgba(255, 0, 112, 1));
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  justify-self: center;
  cursor: pointer;
  padding: 1.5px 13px;
}

.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-theme-button, rgba(255, 0, 112, 1));
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu {
  justify-self: right;
  align-self: center;
  padding-block-start: 36px;
}

@media (min-width: 768px) {
  .header__theme-menu {
    padding-block-start: 89px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 0.625rem;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    grid-auto-flow: column;
  }
}

.title {
  font-size: var(--big_text-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-weight: bold;
  line-height: 83%;
  text-transform: lowercase;
  color: var(--color-big-text, rgba(219, 0, 255, 1));
  text-shadow: var(--shadow-text, 4px 4px 0 var(--color-accent, rgba(255, 0, 112, 1)));
  align-self: center;
}

h1.title {
  padding-block-start: 12px;
}

@media (min-width: 768px) {
  h1.title {
    margin-inline-start: calc(-1 * var(--padding-all-pages, 0.625rem));
  }
}

@media (min-width: 1024px) {
  h1.title {
    padding-block-start: 103px;
  }
}

.header__text {
  justify-self: center;
  align-self: center;
  padding-block-end: 29px;
}

@media (min-width: 768px) {
  .header__text {
    padding-block-end: 80px;
    width: 50%;
    margin-inline-start: auto;
  }
}

@media (min-width: 1024px) {
  .header__text {
    padding-block-end: 58px;
  }
}

.content {
  font-size: var(--text-size, 1.125rem);
  padding: var(--padding-all-pages, 0.625rem);
  margin-block: 1.875rem;
  writing-mode: horizontal-tb;
}

@media (min-width: 768px) {
  .content {
    margin-block: 2.5rem;
  }
}

.content__section {
  margin-block-end: var(--margin-sections, 3.125rem);
}

@media (min-width: 768px) {

  .content__section:nth-child(odd) {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1.25rem;
  }
}

.content__section-title {
  font-size: var(--text-size, 1.125rem);
  color: var(--color-accent, rgba(255, 0, 112, 1));
  margin-block-end: 20px;
}

@media (min-width: 768px) {
  .content__section-title {
    width: 236px;
  }
}

@media (min-width: 1024px) {
  .content__section:nth-child(even) .content__section-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .content__section-title {
    width: 315px;
  }
}

.content__section-description {
  color: var(--color-text, rgba(241, 178, 206, 1));
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-accent, rgba(255, 0, 112, 1));
}

.content__link:hover {
  border-bottom: 1px solid var(--color-text, rgba(241, 178, 206, 1));
}

.content__link:focus,
.content__link:focus-visible {
  outline: 1px solid var(--color-text, rgba(241, 178, 206, 1));
}

.content__section-list-title {
  margin-block-end: 18px;
  font-size: var(--text-size, 1.125rem);
}

.content__section-list-item:not(:last-of-type) {
  margin-block-end: 20px;
}

.content__section-list-item-title {
  font-size: var(--text-size, 1.125rem);
  line-height: 23.4px;
  margin-block-end: 10px;
}

.text-no-bold {
  font-weight: normal;
}

.content__img-title {
  font-size: var(--text-size, 1.125rem);
  margin-block-end: var(--gap-img, 0.625rem);
}

.content__img-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-img, 0.625rem);
}

.content__img-gallery img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {

    .content__img-gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--gap-img);
      width: 100%;
      height: 100%;
      justify-items: stretch;
    }

    .content__img-gallery img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }

    .content__img-gallery img:nth-child(1) {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
    }

    .content__img-gallery img:nth-child(2) {
      grid-column: 3 / span 1;
      grid-row: 1 / span 2;
    }

    .content__img-gallery img:nth-child(3) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 2;
    }

    .content__img-gallery img:nth-child(4) {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }

    .content__img-gallery img:nth-child(5) {
      grid-column: 2 / span 2;
      grid-row: 3 / span 1;
    }
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
  align-items: center;
  text-align: center;
  position: relative;
  padding: var(--padding-all-pages, 0.625rem);
}
